In [15]:
# https://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/market-data/cotacoes/cotacoes/

import pandas as pd
import zipfile
from io import BytesIO
import requests

In [16]:
def get_trades(date):
    url = f'https://arquivos.b3.com.br/apinegocios/tickercsv/{date}'
    r = requests.get(url)
    z = zipfile.ZipFile(BytesIO(r.content))
    return pd.read_csv(z.open(z.namelist()[0]), sep=';', encoding='ANSI')

# no daterange teria que alterar para as datas de dias úteis do bizdays
def get_trades_from_range(start, end):  
    return pd.concat([get_trades(date) for date in pd.date_range(start, end).strftime('%Y%m%d')])

In [17]:
teste = get_trades('2022-09-23')
teste

,RptDt,TckrSymb,UpdActn,GrssTradAmt,TradQty,NtryTm,TradId,TradgSsnId,TradDt
0,2022-09-23,DI1F23,0,"13,685",5,90000020,10,1,2022-09-23
1,2022-09-23,DI1F23,0,"13,685",45,90000020,20,1,2022-09-23
2,2022-09-23,DI1F23,0,"13,685",50,90000020,30,1,2022-09-23
3,2022-09-23,DI1N23,0,"13,560",5,90000020,10,1,2022-09-23
4,2022-09-23,DI1J23,0,"13,700",500,90000553,10,1,2022-09-23
...,...,...,...,...,...,...,...,...,...
11064385,2022-09-23,IBOVX960,0,"1363,000",110,180623850,25,1,2022-09-23
11064386,2022-09-23,IBOVX960,2,"1363,000",200,180623850,30,1,2022-09-23
11064387,2022-09-23,DI1N25,0,"11,430",65,183031873,52165,1,2022-09-23
11064388,2022-09-23,IBOVX99,2,"2012,000",100,183547607,230,1,2022-09-23
11064389,2022-09-23,IBOVX99,0,"2012,000",55,183547607,231,1,2022-09-23

In [18]:
teste[teste['TckrSymb'] == 'PETR4']

,RptDt,TckrSymb,UpdActn,GrssTradAmt,TradQty,NtryTm,TradId,TradgSsnId,TradDt
1282209,2022-09-23,PETR4,0,"31,320",600,101240200,10,1,2022-09-23
1282210,2022-09-23,PETR4,0,"31,320",8600,101240200,20,1,2022-09-23
1282211,2022-09-23,PETR4,0,"31,320",600,101240200,30,1,2022-09-23
1282212,2022-09-23,PETR4,0,"31,320",200,101240200,40,1,2022-09-23
1282213,2022-09-23,PETR4,0,"31,320",4800,101240200,50,1,2022-09-23
...,...,...,...,...,...,...,...,...,...
11063256,2022-09-23,PETR4,0,"29,840",100,175957267,1657050,6,2022-09-23
11063257,2022-09-23,PETR4,0,"29,840",600,175957267,1657060,6,2022-09-23
11063258,2022-09-23,PETR4,0,"29,840",100,175957267,1657070,6,2022-09-23
11063259,2022-09-23,PETR4,0,"29,840",100,175957267,1657080,6,2022-09-23
11063260,2022-09-23,PETR4,0,"29,840",100,175957267,1657090,6,2022-09-23

In [20]:
j = get_trades("2022-09-19")
j

,RptDt,TckrSymb,UpdActn,GrssTradAmt,TradQty,NtryTm,TradId,TradgSsnId,TradDt
0,2022-09-19,CCMF23,0,"93,330",2,90000023,180,1,2022-09-19
1,2022-09-19,CCMF23,0,"93,330",2,90000023,190,1,2022-09-19
2,2022-09-19,CCMF23,0,"93,330",1,90000023,200,1,2022-09-19
3,2022-09-19,DI1N23,0,"13,800",30,90001023,10,1,2022-09-19
4,2022-09-19,DI1J23,0,"13,835",55,90001043,10,1,2022-09-19
...,...,...,...,...,...,...,...,...,...
10265665,2022-09-19,SBSP3,0,"48,980",300,180612483,215910,6,2022-09-19
10265666,2022-09-19,SBSP3,0,"48,980",300,180612483,215920,6,2022-09-19
10265667,2022-09-19,SBSP3,0,"48,980",300,180612483,215930,6,2022-09-19
10265668,2022-09-19,SBSP3,0,"48,980",500,180612483,215940,6,2022-09-19
10265669,2022-09-19,SBSP3,0,"48,980",100,180612483,215950,6,2022-09-19